@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

*{
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

header{
    background-color: #232323;
    color: azure;
    z-index:99;
    text-align: center;
    
}

.head-menu > div{
    padding: 1.5em;
    margin: 0;
}


h1 {
    font-weight: 300;
    font-size: 1.95rem;
    margin-top: 0;
}

label {
    margin: 0px;
    line-height: 1.5;

}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: #FFF;
}

nav a:hover,
nav a:focus {
    color:rgb(144, 151, 160)
}

.player-Info{
    position: relative;
    margin: 1.5em;
    padding: 2.5rem;
    
}

.player-Img {
    display: block;
    max-width:400px;
    max-height:300px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 5px;
}

.player-Title{
    padding: 0.5rem;
    color: #232323;
    font-weight: 300;
    text-align: center;
    font-size: 1.95rem;
}

.player-Age {
    padding: 0.5rem;
    color: #232323;
    font-weight: 300;
    text-align: center;
    font-size: 1.25rem;
}